
<span class="fa-2x"><%=description%></span>
<br>
<br>
<span class="blue-text">Status: </span><span id="status"><%=status_code%></span>
<br>
<span class="blue-text">Started on: </span><span id="e_start"><%=new Date(start_date).toDateString()%></span>
<br>
<span class="blue-text">Due on: </span><span id="e_end"><%=new Date(due_date).toDateString()%></span>