<div class="col l6 m6 push-m1 push-l1 ">

    <span class="white-text right">Hello <%= user.username %></span>
    <br>
    <span class="white-text right"><%= user.email %></span>
    <br>
    <div class="btn-flat waves-light waves-effect right"><a class="orange-text" id="logout">Logout<i class="fa fa-send"></i></a></div>
</div>