<div class="col l2 m2 push-l2 push-m2">
    <div class="input-field">
        <input class="white-text" type="text" name="email" id="email">
        <label for="email">Email</label>
    </div>
</div>


<div class="col l2 m2 push-l2 push-m2">
    <div class="input-field">
        <input class="white-text" type="text" name="username" id="password">
        <label for="password">Password</label>
    </div>
</div>

<div class="col l1 m1 push-l2 push-m2 btn-flat waves-effect white-text " style="margin-top: 2%" id="login"><i class="fa-send fa"></i>  Login
</div>